*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: grey;
  background: linear-gradient(rgb(238, 181, 181),gold);

}
.container{
  position: relative;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;;
}

.addtask{
  width: 100%;
  display: flex;
  padding:  10px ;

}

.addtask > input[type="text"]{
  width: 90%;
  color: blueviolet;
  border:none;
  border-bottom: 2px solid #777;
  background: none;
  padding: 10px;
  font-size:22px;
  outline: none;
}

.addtask button{
  margin: 0 10px;
  background: #222;
  color: rgb(223, 212, 212);
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notcompleted, .completed{
  margin:5px 0;
  padding: 20px;

}

h3{ font-size: 28px;
text-transform: uppercase;
text-align: center;
color: rgb(100, 100, 17);}

ol{
  list-style: none;
  
}

ol li{
  width: 100%;
  padding: 18px;
  margin: 5px 0;
  background: goldenrod;
  font-size: 22px;
  
}

ol.completed li{
  background: #00f;
}
ol li::before{

  background: wheat;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  color: peru;
  margin-right: 0.5rem;
}

li button{

  padding: 5px;
  font-size: 28px;
  line-height:10px ;
  margin-right: 15px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

}

























